*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }

:root{
  --background-color: rgb(30, 30, 30);
  --background-color2: rgb(130, 20, 20);
  --title-font-color: rgb(230, 30, 30);
  --secundary-font-color: whitesmoke;
}

body{
  background-color: var(--background-color);
}

/* Seletores de elementos */
h1{
  font-family: 'Lilita One', sans-serif;
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
  top: 100px;
}

section{
  font-family: 'Boldonse', sans-serif;
}

/* Seletores de classes */
#top-bar{
  position: static;
  background-color: var(--background-color2);
}

.navbar{
  display: flex;
  justify-content: flex-end;
}

.item-list{
  list-style: none;
  display: inline-block;
}

.item-list:hover{
  background-color: var(--secundary-font-color);
  cursor: pointer;
}

.headerdescription > div{
  width: 20%;
}

.navcontent:hover{
  color: var(--title-font-color);
}

.navcontent{
  color: var(--secundary-font-color);
  padding: 15px 20px;
}

li > a{
  text-decoration: none;
}

.contentapresentation{
  position: relative;
  top: 130px;
}

.apresentation{
  padding: 110px 0;
  width: 100%;
  height: 794px;
}

.pictureapresentation{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.profilepicture{
  display: flex;
  width: 100vw;
  height: 160px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: fadeIn 1s forwards;
}

.headerdescription{
  display: flex;
  font-size: 15px;
  color: var(--title-font-color);
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s forwards;
}

.animated-text {
  display: inline-block;
  font-weight: bold;
  width: 100vw;
  height: 70px;
  font-size: 50px;
  
}

.animated-text div {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 1s forwards;
}




/* section 2 */

.projectsbox{
  width: 100%;
  height: 700px;
  background-color: rgb(130, 20, 20);
  justify-content: center;
  align-items: center;
  display: grid;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 400px;
  gap: 50px;
}

.project-apresentation{
  width: 300px;
  height: 350px;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.projectsbox > h3{
  text-align: center;
  margin-top: 100px;
  position: relative;
  top: 10px;
  font-size: 35px;
  font-family: 'Space Mono', sans-serif;
  color: var(--secundary-font-color);
}

.project-apresentation > img{
  max-width: 240px;
  height: 240px;
  position: relative;
  top: 35px;
}

.project-apresentation > p{
  font-family: 'Winky Sans', sans-serif;
  width: 101%;
  height: 13%;
  position: relative;
  left: -1px;
  bottom: -60px;
  background-color: whitesmoke;
  align-items: center;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 0 0 20px 20px;
}

.project-apresentation:hover{
  width: 300px;
  height: 350px;
  border-radius: 20px;
  background-color: whitesmoke;
  transform: scale(1.05);
  cursor: pointer;
}


/* Section 3 */

.contactbox{
  width: 100%;
  height: 500px;
  background-color: var(--background-color);
}

.contacttext{
  position: relative;
  top: 120px;
}

.contacttext > h1{
  font-family: 'Boldonse', sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.icon-list-box{
  position: relative;
  top: 180px;
  justify-content: center;
  display: flex;
}

.icon-list{
  display: flex;
  list-style: none;
}

.element-list-icon > a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  margin-right: 25px;
  margin-left: 25px;
}

.element-list-icon{
  transition: transform 0.3s ease-in-out;
}

.element-list-icon:hover{
  transform: scale(1.2);
}

.contactme{
  text-align: center;
  position: relative;
  top: 180px;
  color: var(--title-font-color);
  font-family: 'Winky Sans', sans-serif;
  font-size: 25px;
}

.finallytext{
  text-align: center;
  position: relative;
  top: 250px;
  font-family: 'Winky Sans', sans-serif;
  color: bisque;
}


/* Animação do projeto */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}